.row-header{
    margin: 0px auto;
    padding: 0px auto;
}
.jumbotron{
    background:#b377db;
    padding: 70px 30px 70px 30px;
    margin:0px auto;
    color:floralwhite;
}


.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge ;
    min-height: 150px;
}
.footer {
    background-color: #d1b0e7;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}
